<div class="btn-group">
	<a href="#" type="button" class="dropdown-toggle"
		title="Profile information" data-toggle="dropdown"
		aria-expanded="false"> {{ svg_icon|raw }}
	</a>
	<div class="dropdown-menu dropdown-menu--user" style="">
		{{ entity_render }}
	</div>
</div>